{% extends "layout.html" %}
{% load i18n %}
{% load staticfiles %}


{% block header %}{% endblock %}

{% block column_left %}
{% endblock %}

{% block content %}
 <div id="layout">
        <header class="header clearfix">     
        </header>

        {% block content_wrapper %}
        <div class="page">
	        

			  	<div class="t-image">
	              <img src="{% static "header-bg-about.jpg" %}" alt="" />
	              <span class="ban-t">WUYI design:<span class='spacer'></span><span class='spacer'></span>Build your own T-shirt!</span>
	       		</div> 
            <div class="container">
                <div class="row">
                    <div class="col-md-6 more-designer">
                        <span>
                         <a href="{% url 'catalogue:index' %}"> Check out our new T-shirt... </a>                     
                        </span>
                    </div>
                    <div class="col-md-6 more-tshirt">                        
                       
                    </div>
                    <div class="col-md-12">
                        <hr>
                    </div>
                    
                </div>
                
            </div>
            <div class="container-fluid">
                <div class="row">
                 <div class="col-md-1">
                       
                     </div>
                    <div class="col-md-7"> 
                         <div >
                           <ul>
                           	<li class="col-md-5">
							    <article class="product_pod">
							        
						            <div >
						                   <a href="/en-gb/catalogue/the-first-parent-product_32/">           
						       			 <img src="/media/cache/b7/15/b715688f9e43dbaadba5849dd242fc39.jpg" class="image_container_home" alt="the first parent product">
						       			 </a>
						                                 
						            </div>
						             
						            <h3><a href="/en-gb/catalogue/the-first-parent-product_32/" title="the first parent product">the first parent product</a></h3>
							        
							    </article>
							</li>
								<li class="col-md-5">
								    <article class="product_pod">
								        
								            <div >
								                                 
								                    <a href="/en-gb/catalogue/the-first-parent-product_32/"><img src="/media/cache/60/df/60dfc1500d78e7cf70919d7bd8e47be0.jpg" alt="the first parent product" class="image_container_home"></a>
								                                 
								            </div>
								             
								            <h3><a href="/en-gb/catalogue/the-first-parent-product_32/" title="the first parent product">the first parent product</a></h3>
								        
								    </article>
								</li>
                           </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                       <div class="review"><div class="quote">“Teespring has worked spectacularly 4 nonprofit causes, gets $, and buyers get to show off their support.”</div><div class="author"><div class="source-icon source-twitter"><i class="icon-twitter icon-3"></i></div><div class="reviewer">Alli Shea</div><div class="source-name gray-links">@allisonshea30</div></div></div>
                     </div>
                </div>
                 <div class="row">
                 <div class="col-md-1">
                       
                     </div>
                    <div class="col-md-7"> 
                         <div >
                           <ul>
                           <li class="col-md-5">
							    <article class="product_pod">
							        
						            <div >
						                                 
						                    <a href="/en-gb/catalogue/the-first-parent-product_32/"><img src="/media/cache/60/df/60dfc1500d78e7cf70919d7bd8e47be0.jpg" alt="the first parent product" class="image_container_home"></a>
						                                 
						            </div>
						             
						            <h3><a href="/en-gb/catalogue/the-first-parent-product_32/" title="the first parent product">the first parent product</a></h3>
							        
							    </article>
							</li>
							<li class="col-md-5">
							    <article class="product_pod">
							        
						            <div>
						                                 
						                    <a href="/en-gb/catalogue/the-first-parent-product_32/"><img src="/media/cache/60/df/60dfc1500d78e7cf70919d7bd8e47be0.jpg" alt="the first parent product" class="image_container_home"></a>
						                                 
						            </div>
						             
						            <h3><a href="/en-gb/catalogue/the-first-parent-product_32/" title="the first parent product">the first parent product</a></h3>
							        
							    </article>
							</li>
                           	
                           </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                       <div class="review"><div class="quote">“Teespring has worked spectacularly 4 nonprofit causes, gets $, and buyers get to show off their support.”</div><div class="author"><div class="source-icon source-twitter"><i class="icon-twitter icon-3"></i></div><div class="reviewer">Alli Shea</div><div class="source-name gray-links">@allisonshea30</div></div></div>
                     </div>
                </div>
                 <div class="row">
                 <div class="col-md-1">
                       
                     </div>
                    <div class="col-md-7"> 
                         <div >
                            <ul>
                            	<li class="col-md-5">
							    <article class="product_pod">
							        
						            <div >
						                                 
						                    <a href="/en-gb/catalogue/the-first-parent-product_32/"><img src="/media/cache/60/df/60dfc1500d78e7cf70919d7bd8e47be0.jpg" alt="the first parent product" class="image_container_home"></a>
						                                 
						            </div>
						             
						            <h3><a href="/en-gb/catalogue/the-first-parent-product_32/" title="the first parent product">the first parent product</a></h3>
							        
							    </article>
							</li>
							<li class="col-md-5">
							    <article class="product_pod">
							        
						            <div >
						                                 
						                    <a href="/en-gb/catalogue/the-first-parent-product_32/"><img src="/media/cache/60/df/60dfc1500d78e7cf70919d7bd8e47be0.jpg" alt="the first parent product" class="image_container_home"></a>
						                                 
						            </div>
						             
						            <h3><a href="/en-gb/catalogue/the-first-parent-product_32/" title="the first parent product">the first parent product</a></h3>
							        
							    </article>
							</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                       <div class="review"><div class="quote">“Teespring has worked spectacularly 4 nonprofit causes, gets $, and buyers get to show off their support.”</div><div class="author"><div class="source-icon source-twitter"><i class="icon-twitter icon-3"></i></div><div class="reviewer">Alli Shea</div><div class="source-name gray-links">@allisonshea30</div></div></div>
                     </div>
                </div>
                <div class="row">
                </div>
            </div>
        </div>
        {% endblock %}

        <div id="faux-foot"></div>
    </div>
{% endblock content %}
